*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.outer-box{
      width: 100vw;
      height: 100vh;
      /* background-color: pink; */
      background-color: #003049;
}
.inner-box{
      width: 400px;
      margin: 0 auto;
      position: relative;
      top: 40%;
      transform: translateY(-50%);
      padding: 20px 40px;
      /* background-color: #ffffff09; */
      background-color: #00304909;
      backdrop-filter: blur(8px);
      border-radius: 8px;
      box-shadow:2px 2px 5px #04609e;
      z-index: 2;
}
.signup-header h1{
      font-size: 2.5rem;
}

.signup-header p {
      font-size: 0.8rem;
      color: #555;
}

.signup-body{
      margin: 20px 0;
}

.signup-body p{
      margin: 10px 0;
}

.signup-body label{
      display: block;
      font-weight: bold;
}

.signup-body input{
      width: 100%;
      padding: 10px;
      border: 2px solid #cccc;
      border-radius: 8px;
      font-size: 1rem;
      margin-top: 4px;
}

.signup-body p input[type='submit']{
      background-color: #00304909;
      border: none;
      color: white;
      cursor: pointer;
}

.signup-body p input[type='submit']:hover{
      background-color: #04609e;

}

.signup-footer p{
      color: #555;
      text-align: center;
}

.signup-footer p a{
      color:#04609e;
}

.circle{
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background: linear-gradient(to top right, #ffffff33, #ffffffff);
      position:absolute;
}

.c1{
      top: 100px;
      left: 40px;
}
.c2{
      bottom: 250px;
      right: 50px;
}